.projects {
    display: flex;
    flex-direction: column;
    width: min(1200px, 90%);
    margin: 0 auto;
    padding-top: 6rem;
    padding-bottom: 8rem;
    border-top: 1px solid rgba(255, 255, 255, .05);
}

.section-title {
    align-self: center;
}