.footer {
    width: min(1200px, 90%);
    margin: 0 auto;

    padding: 2rem 0;

    border-top: 1px solid rgba(255, 255, 255, .05);

    text-align: center;

    color: rgba(255, 255, 255, .6);

    font-size: .9rem;
}