* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #050505;
    color: white;
    font-family: 'Inter', sans-serif;
    padding-inline: clamp(20px, 8vw, 150px);
}

h1 {
    font-size: clamp(3rem, 10vw, 9rem);
}

h2 {
    font-size: clamp(1.5rem, 4vw, 2rem);
}

h3 {
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 500;
}