.modal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(8px);
    z-index: 1000;
}

.modal {
    position: relative;
    display: flex;

    width: min(900px, 90vw);
    height: 650px;

    background: white;

    border-radius: 12px;

    overflow: hidden;
}

.modal-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    background: #f5f5f5;
    height: 100%;

    overflow: hidden;
}

.modal-gallery img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.modal-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 3rem;
}

.modal-logo {
    max-width: 250px;
    margin-bottom: 3rem;
}

.modal-description {
    text-align: left;
    line-height: 1.8;
    color: #444;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: none;
    font-size: 2rem;
    cursor: pointer;
}

.modal-links {
    margin-top: 2rem;
    width: 100%;
}

.modal-links p {
    margin-bottom: 1rem;
    color: #444;
}

.modal-links a {
    color: #61DAFB;
    text-decoration: none;
    transition: opacity .2s ease;
}

.modal-links a:hover {
    opacity: 0.8;
}


@media (max-width: 768px) {
    .modal {
        flex-direction: column;

        width: 90vw;
        max-width: 400px;

        height: auto;

        max-height: 90vh;

        overflow-y: auto;
    }

    .modal-gallery {
        flex: none;

        height: 180px;
    }

    .modal-gallery img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    .modal-details {
        flex: none;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 1.5rem;
    }
}

@media (max-width: 480px) {
    .modal {
        width: 95vw;
    }

    .modal-gallery {
        height: 180px;
    }

    .modal-details {
        padding: 1rem;
    }

    .modal-logo {
        max-width: 120px;
    }
}